.blogs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blog {
    padding: 10px 20px;
    margin: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}

@media screen and (max-width: 576px) {
    .blogs-container {
        grid-template-columns: 1fr;
    }
}