.not-found-container {
    min-height: 76vh;
    position: relative;
}

.not-found {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not-found p {
    font-size: 18px;
}

.not-found img {
    width: 50%;
}