.custom-nav {
    background-color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.custom-nav a {
    color: #333 !important;
    border-bottom: 2px solid transparent;
    transition: all .2s ease-in-out;
    font-size: 1.1rem;
}

.custom-nav a:hover {
    border-bottom: 2px solid #FF454C;
}

.logout-btn {
    background-color: #FF454C;
    color: #fff;
    padding: 10px 20px;
    outline: 0;
    border: 0;
}

.dropdown-item:hover {
    background-color: #fff !important;
}