.footer {
    min-height: 150px;
    width: 100%;
}

.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}
.footer-right {
    display: flex;
    justify-content: space-around;
    min-height: 150px;
}

.footer-right li {
    list-style: none;
    cursor: pointer;
    margin-bottom: 3px;
}

@media screen and (max-width: 576px) {
    .footer-right {
        flex-direction: column;
    }
    .footer-left {
        order: 3;
    }
    .social {
        margin-top: 20px;
    }
}