.login-container {
    min-height: calc(78vh - 60px);
}

.custom-login {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    height: 500px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-form {
    margin: 12px;
}

.login-form input{
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 0;
    outline: 0;
    transition: border-color .15s ease-in-out;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

.login-form input:focus {
    border-bottom-color: #FF426B;
}

.login-left {
    flex-grow: 1;
    flex-basis: 0;
}

.login-left h3, .reset {
    color: #FF454C;
}

.login-right {
    background-image: linear-gradient(90deg, #FF454C, #FF426B);
    flex-grow: 1;
    flex-basis: 0;
    color: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.submit-btn {
    padding: 6px 12px;
    background-image: linear-gradient(90deg, #FF454C, #FF426B);
    color: #fff;
}

.social-btn {
    border: 1px solid lightgray;
    outline: 0;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    .custom-login {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .login-left {
        order: 3;
    }
    .login-right {
        border-radius: 8px;
        padding-top: 0;
    }
}