.banner {
    height: calc(100vh - 60px);
    width: 100%;
    background-image: url("../../images/banner-3.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    position: relative;
}

.banner-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}

.banner-text h2 {
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
}

.banner-text h4 {
    font-size: 2.1rem;
    font-family: 'Poppins', sans-serif;
}

.banner-text p {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.explore-btn {
    font-size: 18px;
    padding: 10px 20px;
    outline: 0;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all .2s;
}

.explore-btn:hover {
    background-color: #fff;
    color: #333;
}

@media screen and (max-width: 576px) {
    .banner-text {
        top: 60%;
    }
    .banner-text h2 {
        font-size: 2rem;
    }
    .banner-text h4 {
        font-size: 1.5rem;
    }
    .banner-text p {
        font-size: 1rem;
    }
}
