.perfume-card {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease 0s;
    padding: 12px;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
}

.perfume-card:hover:not(.exclude) {
    transform: translateY(-10px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.perfume-card img {
    width: 40%;
    height: 300px;
    object-fit: cover;
}

.perfume-info {
    margin-right: 20px;
}

.update-btn {
    border: 0;
    outline: 0;
    background-color: #FF454C;
    color: #fff;
    padding: 10px 20px;
}